* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    color: #ebebeb;
    font-family: 'Roboto', sans-serif;
    font-size: 13pt;
    line-height: 100%;
}

#toolbar {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #fc9700;
    position: relative;
    z-index: 10;
    height: 30px;
}

#toolbar input.btn-restart {
	
	margin-left:0.5em;
	text-align: right;
}

#toolbar input.btn-clear {

	margin:0.5em;
	text-align: right;
}

#toolbar span.title {
	display:block;
	flex:1;
	padding-right:0.5em;
	text-align: right;
}
.container {
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -30px;
    padding-top: 30px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

#log-output, #log-event {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

#log-output {
    width: 65%;
    background-color: #22252a;
	overflow-y: scroll;
	padding-left: 15px;
}

#log-event {
    width: 35%;
    background-color: #22252a;
	padding-left: 25px;
}


