#webconsole {
	
	display: none;
	
}

.container {
	
	color: #FFFFFF;
	
}

.cmd.error {
	
	color: #FF0000;
	
}

#btn-restart {
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 8px;
    margin: 35px auto;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid silver;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    color: #838383;
    width: 409px;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    direction: ltr;
    height: 44px;
    font-size: 16px;
    text-align: left;
}
