body  {
	background-color: #22252a;
}

#webconsole {
	display: none;
    position: relative;
}

.container {
	color: #FFFFFF;
}

.cmd.error {
	color: #FF0000;
}

.logo-wrapper {
	position: relative;
	top: -11px;
}

.logo-wrapper .logo-linkio {
	height:1.5em;
	margin-right:0.5em;
	position: absolute;
	top: 0;
	right: 0;
	transform: rotateY(0deg);
	transition: 0.5s;
	opacity: 1;
}

.logo-wrapper:hover .logo-linkio {
	transform: rotateY(180deg);
	opacity: 0;
}

.logo-wrapper .logo-cookie {
	height:1.5em;
	margin-right:0.5em;
	position: absolute;
	top: 0;
	right: 0;
	transform: rotateY(180deg);
	transition: 0.5s;
	opacity: 0;
}

.logo-wrapper:hover .logo-cookie {
	transform: rotateY(0deg);
	opacity: 1;
}

.btn {
	cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid;
    border-top: 1px solid;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    display: block;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    direction: ltr;
    text-align: left;
	margin-left: 0.5em;
	font-size: 1em;
	line-height:1em;
}

.btn.logout {
	background: #34495E;
	border-color: #34495E;
	color: #FFFFFF;
}

.btn.restart {
	background: #7F8C8D;
	border-color: #7F8C8D;
	color: #FFFFFF;
}

.btn.clear {
	background: #BDC3C7;
	border-color: #BDC3C7;
	color: #FFFFFF;
}

.error-head {
	color: red;
	cursor: pointer;
}

.error-stack {
	color: red;
	cursor: pointer;
}
#mlink {
	color: #fc9700;
}



/* NAVBAR */
.navbar {
	position: relative;
	min-height: 60px;
	margin-bottom: 1px;
	padding-left: 14px;
	border: 1px solid transparent;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar a {
	text-decoration: none;
}
@media (min-width: 768px) {
	.navbar-header {
		float: left;
	}
}
.navbar-collapse {
	overflow-x: visible;
	padding-right: 15px;
	padding-left: 15px;
	border-top: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	-webkit-overflow-scrolling: touch;
}
.navbar-collapse.in {
	overflow-y: auto;
}
@media (min-width: 768px) {
	.navbar-collapse {
		width: auto;
		border-top: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-collapse.collapse {
		display: block !important;
		height: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
	.navbar-collapse.in {
		overflow-y: visible;
	}
	.navbar-fixed-top .navbar-collapse,
	.navbar-static-top .navbar-collapse,
	.navbar-fixed-bottom .navbar-collapse {
		padding-left: 0;
		padding-right: 0;
	}
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
	max-height: 340px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
	.navbar-fixed-top .navbar-collapse,
	.navbar-fixed-bottom .navbar-collapse {
		max-height: 200px;
	}
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
	margin-right: -15px;
	margin-left: -15px;
}
@media (min-width: 768px) {
	.container > .navbar-header,
	.container-fluid > .navbar-header,
	.container > .navbar-collapse,
	.container-fluid > .navbar-collapse {
		margin-right: 0;
		margin-left: 0;
	}
}
.navbar-static-top {
	z-index: 1000;
	border-width: 0 0 1px;
}
@media (min-width: 768px) {
	.navbar-static-top {
		border-radius: 0;
	}
}
.navbar-fixed-top,
.navbar-fixed-bottom {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
}
@media (min-width: 768px) {
	.navbar-fixed-top,
	.navbar-fixed-bottom {
		border-radius: 0;
	}
}
.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
}
.navbar-fixed-bottom {
	bottom: 0;
	margin-bottom: 0;
	border-width: 1px 0 0;
}
.navbar-brand {
	float: left;
	padding: 19.5px 15px;
	font-size: 19px;
	line-height: 19px;
	height: 60px;
}
.navbar-brand:hover,
.navbar-brand:focus {
	text-decoration: none;
}
.navbar-brand > img {
	display: block;
}
@media (min-width: 768px) {
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		margin-left: -15px;
	}
}
.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 9px 10px;
	margin-top: 13px;
	margin-bottom: 13px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.navbar-toggle:focus {
	outline: 0;
}
.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}
@media (min-width: 768px) {
	.navbar-toggle {
		display: none;
	}
}
.navbar-nav {
	margin: 9.75px -15px;
}
.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 21px;
}
@media (max-width: 767px) {
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-nav .open .dropdown-menu > li > a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 25px;
	}
	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 21px;
	}
	.navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-nav .open .dropdown-menu > li > a:focus {
		background-image: none;
	}
}
@media (min-width: 768px) {
	.navbar-nav {
		float: left;
		margin: 0;
	}
	.navbar-nav > li {
		float: left;
	}
	.navbar-nav > li > a {
		padding-top: 19.5px;
		padding-bottom: 19.5px;
	}
}
.navbar-form {
	margin-left: -15px;
	margin-right: -15px;
	padding: 10px 15px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
	margin-top: 7.5px;
	margin-bottom: 7.5px;
}
@media (min-width: 768px) {
	.navbar-form .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.navbar-form .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}
	.navbar-form .form-control-static {
		display: inline-block;
	}
	.navbar-form .input-group {
		display: inline-table;
		vertical-align: middle;
	}
	.navbar-form .input-group .input-group-addon,
	.navbar-form .input-group .input-group-btn,
	.navbar-form .input-group .form-control {
		width: auto;
	}
	.navbar-form .input-group > .form-control {
		width: 100%;
	}
	.navbar-form .control-label {
		margin-bottom: 0;
		vertical-align: middle;
	}
	.navbar-form .radio,
	.navbar-form .checkbox {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.navbar-form .radio label,
	.navbar-form .checkbox label {
		padding-left: 0;
	}
	.navbar-form .radio input[type="radio"],
	.navbar-form .checkbox input[type="checkbox"] {
		position: relative;
		margin-left: 0;
	}
	.navbar-form .has-feedback .form-control-feedback {
		top: 0;
	}
}
@media (max-width: 767px) {
	.navbar-form .form-group {
		margin-bottom: 5px;
	}
	.navbar-form .form-group:last-child {
		margin-bottom: 0;
	}
}
@media (min-width: 768px) {
	.navbar-form {
		width: auto;
		border: 0;
		margin-left: 0;
		margin-right: 0;
		padding-top: 0;
		padding-bottom: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
.navbar-nav > li > .dropdown-menu {
	margin-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
	margin-bottom: 0;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.navbar-btn {
	margin-top: 7.5px;
	margin-bottom: 7.5px;
}
.navbar-btn.btn-sm {
	margin-top: 12.5px;
	margin-bottom: 12.5px;
}
.navbar-btn.btn-xs {
	margin-top: 19px;
	margin-bottom: 19px;
}
.navbar-text {
	margin-top: 19.5px;
	margin-bottom: 19.5px;
}
@media (min-width: 768px) {
	.navbar-text {
		float: left;
		margin-left: 15px;
		margin-right: 15px;
	}
}
@media (min-width: 768px) {
	.navbar-left {
		float: left !important;
	}
	.navbar-right {
		float: right !important;
		margin-right: -15px;
	}
	.navbar-right ~ .navbar-right {
		margin-right: 0;
	}
}
.navbar-default {
	background-color: #22252a;
	border-color: transparent;
}
.navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #18bc9c;
	background-color: transparent;
}
.navbar-default .navbar-text {
	color: #777777;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #18bc9c;
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #1a242f;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
	color: #cccccc;
	background-color: transparent;
}
.navbar-default .navbar-toggle {
	border-color: #1a242f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #1a242f;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: #1a242f;
	color: #ffffff;
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #18bc9c;
		background-color: transparent;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ffffff;
		background-color: #1a242f;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #cccccc;
		background-color: transparent;
	}
}
.navbar-default .navbar-link {
	color: #ffffff;
}
.navbar-default .navbar-link:hover {
	color: #18bc9c;
}
.navbar-default .btn-link {
	color: #ffffff;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
	color: #18bc9c;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
	color: #cccccc;
}
.navbar-inverse {
	background-color: #18bc9c;
	border-color: transparent;
}
.navbar-inverse .navbar-brand {
	color: #ffffff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
	color: #22252a;
	background-color: transparent;
}
.navbar-inverse .navbar-text {
	color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	color: #22252a;
	background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #15a589;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
	color: #cccccc;
	background-color: transparent;
}
.navbar-inverse .navbar-toggle {
	border-color: #128f76;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: #128f76;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
	border-color: #149c82;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #15a589;
	color: #ffffff;
}
@media (max-width: 767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
		border-color: transparent;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
		background-color: transparent;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #22252a;
		background-color: transparent;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ffffff;
		background-color: #15a589;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #cccccc;
		background-color: transparent;
	}
}
.navbar-inverse .navbar-link {
	color: #ffffff;
}
.navbar-inverse .navbar-link:hover {
	color: #22252a;
}
.navbar-inverse .btn-link {
	color: #ffffff;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
	color: #22252a;
}
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
	color: #cccccc;
}

.navbar-brand {
	float: left;
	padding: 19.5px 15px;
	font-size: 19px;
	line-height: 21px;
	height: 60px;
}
.navbar-brand:hover,
.navbar-brand:focus {
	text-decoration: none;
}
.navbar-brand > img {
	display: block;
}
@media (min-width: 768px) {
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		margin-left: -15px;
	}
}