#webconsole {
	display: none;
    position: relative;
}

.container {
	color: #FFFFFF;
}

.cmd.error {
	color: #FF0000;
}

.logo-wrapper {
	position: relative;
	top: -11px;
}

.logo-wrapper .logo-linkio {
	height:1.5em;
	margin-right:0.5em;
	position: absolute;
	top: 0;
	right: 0;
	transform: rotateY(0deg);
	transition: 0.5s;
	opacity: 1;
}

.logo-wrapper:hover .logo-linkio {
	transform: rotateY(180deg);
	opacity: 0;
}

.logo-wrapper .logo-cookie {
	height:1.5em;
	margin-right:0.5em;
	position: absolute;
	top: 0;
	right: 0;
	transform: rotateY(180deg);
	transition: 0.5s;
	opacity: 0;
}

.logo-wrapper:hover .logo-cookie {
	transform: rotateY(0deg);
	opacity: 1;
}

.btn {
	cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid;
    border-top: 1px solid;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    display: block;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    direction: ltr;
    text-align: left;
	margin-left: 0.5em;
	font-size: 1em;
	line-height:1em;
}

.btn.logout {
	background: #34495E;
	border-color: #34495E;
	color: #FFFFFF;
}

.btn.restart {
	background: #7F8C8D;
	border-color: #7F8C8D;
	color: #FFFFFF;
}

.btn.clear {
	background: #BDC3C7;
	border-color: #BDC3C7;
	color: #FFFFFF;
}

.error-head {
	color: red;
	cursor: pointer;
}

.error-stack {
	color: red;
	cursor: pointer;
}